{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "${CONCLAVE_BASE_URL}",
            "server_name": "${MATRIX_SERVER_NAME}"
        }
    },
    "brand": "Element",
    "disable_guests": true
}
