---
- name: Install OpenSSH server
  apt:
    name: openssh-server
    state: present

- name: Disable password authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PasswordAuthentication"
    line: "PasswordAuthentication no"

- name: Create sshd run directory
  file:
    path: /var/run/sshd
    state: directory

- name: Verify sshd is installed
  command: sshd -t
  changed_when: false
